.navbar
{
    z-index: 1337;

    margin-bottom: 0;

    border: 0;
    background: #333;
    .add-button
    {
        font-size: 13px;

        display: inline-block;

        margin: 8px;
        padding: 6px;

        cursor: pointer;
        transition: background .4s, color .4s;

        color: #222;
        border: 1px solid #222;
        border-radius: 5px;
        &:hover
        {
            color: #fff;
            background: #222;
        }
    }
    .navbar-brand
    {
        margin-left: 15px;
        padding: 0;
        .logo
        {
            max-height: 30px;
            margin: 10px 15px;
        }
    }
    .sign-up,
    .sign-in
    {
        margin: 10px 0;
        padding: 5px 15px;

        border: 0;
    }
    .sign-up
    {
        color: #444 !important;
        background: #eee;
        &:hover
        {
            background: #fff !important;
        }
    }
    .sign-in
    {
        margin-right: 5px;

        color: #eee !important;
        background: #444;
    }
    .menu
    {
        li
        {
            a
            {
                color: #eee !important;
            }
            &.active
            {
                a
                {
                    background: #444 !important;
                }
            }
        }
    }
    .navbar-nav
    {
        @import './button-user/button-user';
    }
}

@media (min-width: 768px)
{
    .navbar
    {
        border-radius: 0; // Override the default border-radius: 4px
    }
    .navbar-right
    {
        margin-right: 0;
    }
}
