.navbar {
  margin-bottom: 0;
  background: #fcfcfc;
  z-index: 1337;
  
  .add-button {
    display: inline-block;
    margin: 8px;
    padding: 6px;

    border: 1px solid #222;
    border-radius: 5px;
    font-size: 13px;
    color: #222;
    cursor: pointer;
    transition: background .4s, color .4s;

    &:hover {
      background: #222;
      color: #fff;
    }
  }

  .navbar-brand {
    padding: 0;
    margin-left: 15px;

    .logo {
      max-height: 30px;
      margin: 10px 15px;
    }
  }

  .sign-up, .sign-in {
    padding: 5px 15px;
    margin: 10px 0;
    border: 0;
  }

  .sign-up {
    color: #eee !important;
    background: #444;
    margin-right: 5px;
  }
  .sign-in {
    // background: #eee;
  }
}