$white: #fff;
$black: #fff;
$color: #e80000;

.thing-form
{
    margin: 20px 0;
}

#banner
{
    height: 100vh;
    margin-top: -20px;

    border-bottom: none;
    .vertical-centered
    {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;

        transform: translateY(-65%);
        h1
        {
            font-family: serif;
            font-size: 60px;
            line-height: 1;

            letter-spacing: -1px;
            // font-weight: bold;
        }
        .logo
        {
            max-height: 175px;
        }
        .button
        {
            padding: 7px 35px;

            transition: all .5s;

            border: 0;
            border-radius: 2px;
            // color: #444;
            background: $primary_color;
            &:hover
            {
                background: lighten($primary_color,15);
            }
        }
    }
}

.hero-unit
{
    position: relative;

    padding: 60px 15px;

    text-align: center;

    color: #333;
    background: #f3f3f3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.navbar-text
{
    margin-left: 15px;
}
