//- h2 {{ subject.subject }}

div#show

  //- div {{ subject }}

  header
    div.container
      div(style="float: left;")
        h1 {{ subject.title }}
        
        //- | par {{ subject.author.name }}
        div.tags
          span.label.label-default(style="margin-right: 5px;" ng-repeat="tag in subject.tags track by $index") {{ tag }} 

      div.meta
        div.share
          a(title="facebook")
            span.fa.fa-facebook-square
          a(title="twitter")
            span.fa.fa-twitter-square 
        
        div.stats
          div(title="Vues") {{ subject.views || 0 }}
            span.fa.fa-eye
        
          div(title="Votes") {{ subject.votes || 0 }}
            span.fa.fa-balance-scale
          
          div(title="Reponses") {{ subject.chunks.length || 0 }}
            span.fa.fa-comments
          
          div(title="Sources") {{ subject.sources || 0 }}
            span.fa.fa-link
          
          div(title="Partages") {{ subject.shared || 0 }} 
            span.fa.fa-share-alt

  div.container.body
    div.row
      div.col-xs-9

        gaugekonsensus(value="42")
        
        p(style="float: right; margin-right: 25px;") Etat: Konsensus

        p {{ subject.problematic }}
        hr

        div.chunk(ng-repeat="chunk in subject.chunks")
          //- div(style="position")
          
          div.row
            div.vote
              span.fa.fa-chevron-up(ng-click="subject.voteChunk(chunk._id, '+')")
              vote(points="subject.points")
            
              //- span.fa.fa-circle(style="color: #ddd; font-size: 0.9em;")
              span.fa.fa-chevron-down(style="margin-top: -3px;" ng-click="subject.voteChunk('-')")
            div.col-lg-9
              //- | {{ chunk. }}
              //- p {{ chunk.author }}
              h2 {{ chunk.title }}
              p {{ chunk.content }}
              p {{ chunk.points || 0 }} {{ chunk._id }}
            
            div.col-lg-3(style=" text-align: right;")
              div.shared.btn.btn-default(title="Partages") 
                span.fa.fa-share-alt
              div.shared.btn.btn-default(title="Sources") {{ chunk.sources.length || 0 }} 
                span.fa.fa-link
              //- | {{ chunk.shared || 0 }} 

              div.sources
                p(ng-repeat="source in chunk.sources")
                  a.source(target="_blank" href="{{ source.url }}") {{ source.url }} 
            
          hr

        form.chunkForm
          h3 Argument
          div.form-group
            input.form-control(ng-model="chunk.title" placeholder="titre")
          div.form-group
            textarea.form-control(placeholder="texte" ng-model="chunk.content")
          div.form-group(ng-model="chunk.sources" ng-init="chunk.sources = [{}]")
            input.form-control(placeholder="url" ng-repeat="url in chunk.sources"  ng-model="chunk.sources[$index].url")
            button.btn.btn-default(ng-click="chunk.sources.push({})")
              span.fa.fa-plus
          div.form-group
            input.btn.btn-default(type="submit" value="répondre" ng-click="subject.createChunk(chunk)")
          p {{ chunk }}
          

        //- div.btn.btn-success(ng-model="isChunkFormOpen" ng-click="isChunkFormOpen = false") add chunk
          //- p {{ isChunkFormOpen }}
        //- div(ng-show="isChunkFormOpen")
      
      div.list-group.col-lg-3
        a.list-group-item.active(href="#") Résultat
        a.list-group-item(href="#" ng-repeat="chunk in subject.chunks" ng-if="chunk.title.length > 0") {{ chunk.title }}
          span.badge 14