//- h2 {{ subject.subject }}

div#show
  header
    div.container
      h1 {{ subject.subject.title }}
      
      div.meta
        div.share
          a(title="facebook")
            span.fa.fa-facebook-square
          a(title="twitter")
            span.fa.fa-twitter-square 
        
        div.stats
          div(title="Vues") {{ subject.subject.views || 0 }}
            span.fa.fa-eye
        
          div(title="Votes") {{ subject.votes || 0 }}
            span.fa.fa-balance-scale
          
          div(title="Reponses") {{ subject.subject.chunks.length || 0 }}
            span.fa.fa-comments
          
          div(title="Sources") {{ subject.sources || 0 }}
            span.fa.fa-link
          
          div(title="Partages") {{ subject.shared || 0 }} 
            span.fa.fa-share-alt



  div.container.body
    div.row
      div.col-xs-8
        p {{ subject.subject.problematic }}
        hr

        div.chunk(ng-repeat="chunk in subject.subject.chunks")
          div.shared.btn.btn-default(title="Sources") {{ chunk.sources.length || 0 }} 
            span.fa.fa-link
          div.shared.btn.btn-default(title="Partages") {{ chunk.shared || 0 }} 
            span.fa.fa-share-alt

          //- | {{ chunk. }}
          p {{ chunk.author }}
          p {{ chunk.content }}
          p(ng-repeat="source in chunk.sources") {{ source.url }}
          hr

        form.chunkForm
          div.form-group
            textarea.form-control(placeholder="texte" ng-model="chunk.content")
          div.form-group(ng-model="chunk.sources" ng-init="chunk.sources = [{},{}]")
            input.form-control(placeholder="url" ng-repeat="url in chunk.sources"  ng-model="chunk.sources[$index].url")
            button.btn.btn-default(ng-click="chunk.sources.push({})")
              span.fa.fa-plus
          div.form-group
            input.btn.btn-default(type="submit" value="répondre" ng-click="subject.createChunk(chunk)")
          p {{ chunk }}
          

        //- div.btn.btn-success(ng-model="isChunkFormOpen" ng-click="isChunkFormOpen = false") add chunk
          //- p {{ isChunkFormOpen }}
        //- div(ng-show="isChunkFormOpen")