//- h2 {{ subject.subject }}

div#show
  header
    div.container
      div(style="float: left;")
        h1 {{ subject.subject.title }}
        //- | par {{ subject.subject.author.name }}
        div.tags
          span.label.label-default(style="margin-right: 5px;" ng-repeat="tag in subject.subject.tags track by $index") {{ tag }} 

      div.meta
        div.share
          a(title="facebook")
            span.fa.fa-facebook-square
          a(title="twitter")
            span.fa.fa-twitter-square 
        
        div.stats
          div(title="Vues") {{ subject.subject.views || 0 }}
            span.fa.fa-eye
        
          div(title="Votes") {{ subject.votes || 0 }}
            span.fa.fa-balance-scale
          
          div(title="Reponses") {{ subject.subject.chunks.length || 0 }}
            span.fa.fa-comments
          
          div(title="Sources") {{ subject.sources || 0 }}
            span.fa.fa-link
          
          div(title="Partages") {{ subject.shared || 0 }} 
            span.fa.fa-share-alt



  div.container.body
    div.row
      div.col-xs-9
        p {{ subject.subject.problematic }}
        hr

        div.chunk(ng-repeat="chunk in subject.subject.chunks")
          //- div(style="position")

          
          div.row
            div.vote
              span.fa.fa-chevron-up
              br
              span.fa.fa-chevron-down
            div.col-lg-9
              //- | {{ chunk. }}
              //- p {{ chunk.author }}
              h2 {{ chunk.title }}
              p {{ chunk.content }}
            
            div.col-lg-3(style=" text-align: right;")
              div.shared.btn.btn-default(title="Partages") 
                span.fa.fa-share-alt
              div.shared.btn.btn-default(title="Sources") {{ chunk.sources.length || 0 }} 
                span.fa.fa-link
              //- | {{ chunk.shared || 0 }} 

              div.sources
                p(ng-repeat="source in chunk.sources")
                  a.source(target="_blank" href="{{ source.url }}") {{ source.url }} 
            
          hr

        form.chunkForm
          h3 Argument
          div.form-group
            input.form-control(ng-model="chunk.title" placeholder="titre")
          div.form-group
            textarea.form-control(placeholder="texte" ng-model="chunk.content")
          div.form-group(ng-model="chunk.sources" ng-init="chunk.sources = [{}]")
            input.form-control(placeholder="url" ng-repeat="url in chunk.sources"  ng-model="chunk.sources[$index].url")
            button.btn.btn-default(ng-click="chunk.sources.push({})")
              span.fa.fa-plus
          div.form-group
            input.btn.btn-default(type="submit" value="répondre" ng-click="subject.createChunk(chunk)")
          p {{ chunk }}
          

        //- div.btn.btn-success(ng-model="isChunkFormOpen" ng-click="isChunkFormOpen = false") add chunk
          //- p {{ isChunkFormOpen }}
        //- div(ng-show="isChunkFormOpen")
      
      div.list-group.col-lg-3
        a.list-group-item.active(href="#" style="text-align: center;") Résultat
        a.list-group-item(href="#" ng-repeat="chunk in subject.subject.chunks" ng-if="chunk.title.length > 0") {{ chunk.title }}
          span.badge 14